/build/
/builddir/
/bisect-js/
/js-override/
/vendor/gnome-shell/
*.o
*.vala.c
*.vala.h
.gdb_history
.vscode/
.specstory/
# Accidental valac dumps at repo root (not meson build outputs)
/PubLayout.c
/pub_layout.c
/tactor.c
