[Unit]
Description=GNOME Shell RPC
DefaultDependencies=no
Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target
Wants=org.gnome.ShellRpc@wayland.service
